[project]
	description = The Python programming language
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Supremeylb
[access "refs/for/refs/*"]
	read = group user/Supremeylb
	push = group user/Supremeylb
	label-Code-Review = -2..+2 group user/Supremeylb
	label-Verified = -1..+1 group user/Supremeylb
	rebase = group user/Supremeylb
	removeReviewer = group user/Supremeylb
	submit = group user/Supremeylb
[access "refs/heads/*"]
	read = group user/Supremeylb
	create = group user/Supremeylb
	push = +force group user/Supremeylb
	pushMerge = group user/Supremeylb
[access "refs/tags/*"]
	push = group user/Supremeylb
	push = +force group user/Supremeylb
